<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.song1.musicno1">

  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:allowBackup="true"
      android:name=".App"
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:theme="@style/AppTheme">
    <meta-data
        android:name="AA_DB_NAME"
        android:value="song1.db"/>
    <meta-data
        android:name="AA_DB_VERSION"
        android:value="1"/>
    <meta-data
        android:name="appid"
        android:value="appid:004711975924897866"/>

    <activity android:name=".activities.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".activities.CurrentNotworkDeviceActivity"
        android:screenOrientation="portrait"
        android:theme="@style/SlideUpTheme">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    <activity android:name=".activities.SearchActivity">
      <intent-filter>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <service android:name=".services.UpnpService"/>
    <service android:name=".services.PlayService"/>
    <service android:name=".services.HttpService"/>
  </application>
</manifest>
